In [1]:
import pandas as pd
import numpy as np

In [2]:
#Location = f'C:\\Users\\xiaohang\\Documents\\np.csv'
#Location = f'C:\\pothole\\mht1.csv'
Location = f'D:\\pothole\\nearestnode202003.csv'
df = pd.read_csv(Location)

In [3]:
df = df.dropna(subset = ['id_road'])

In [4]:
df

,field_1,density,latitude,longitude,fid,stname_lab,streetwidt,id_road,node1,node2,length,n,distance,feature_x,feature_y,nearest_x,nearest_y
225,225,2234.234813,40.765807,-73.983670,91.0,W 58 ST,48.0,790.0,367.0,369.0,903.284,1.0,0.001968,-73.983670,40.765807,-73.982906,40.767620
226,226,1908.792723,40.765807,-73.983308,91.0,W 58 ST,48.0,790.0,367.0,369.0,903.284,1.0,0.001827,-73.983308,40.765807,-73.982598,40.767490
227,227,1538.009386,40.765807,-73.982946,528.0,8 AV,70.0,787.0,369.0,368.0,146.492,1.0,0.001688,-73.982946,40.765807,-73.982365,40.767392
228,227,1538.009386,40.765807,-73.982946,91.0,W 58 ST,48.0,790.0,367.0,369.0,903.284,2.0,0.001688,-73.982946,40.765807,-73.982365,40.767392
229,228,1168.280973,40.765807,-73.982583,528.0,8 AV,70.0,787.0,369.0,368.0,146.492,1.0,0.001600,-73.982583,40.765807,-73.982365,40.767392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894,9769,576.545016,40.807182,-73.967728,14.0,RIVERSIDE DR,16.0,9.0,7.0,1.0,300.199,1.0,0.001729,-73.967728,40.807182,-73.967723,40.805453
9895,9769,576.545016,40.807182,-73.967728,657.0,W 111 ST,30.0,2.0,1.0,2.0,475.000,2.0,0.001729,-73.967728,40.807182,-73.967723,40.805453
9896,9770,701.186359,40.807182,-73.967366,14.0,RIVERSIDE DR,16.0,9.0,7.0,1.0,300.199,1.0,0.001765,-73.967366,40.807182,-73.967723,40.805453
9897,9770,701.186359,40.807182,-73.967366,657.0,W 111 ST,30.0,2.0,1.0,2.0,475.000,2.0,0.001765,-73.967366,40.807182,-73.967723,40.805453
9898,9771,857.152016,40.807182,-73.967004,657.0,W 111 ST,30.0,2.0,1.0,2.0,475.000,1.0,0.001873,-73.967004,40.807182,-73.967720,40.805452

In [5]:
df.density = df.density.astype('double')
#df['id_road'].isnull().any()

In [6]:
dfroadinfo = pd.read_csv(f'D:\\pothole\\simpleroadmap.csv')
dfroadinfo['density'] = 0.0
dfroadinfo['id_road'].dtype

dtype('int64')

In [7]:
dfroadinfo

     fid      stname_lab  streetwidt  id_road  node1  node2   length  density
0      1  CENTRAL PARK W        62.0      465    214    207  264.124      0.0
1      3         W 93 ST        30.0      295    132    131  534.172      0.0
2      4     COLUMBUS AV        60.0      677    309    314  259.889      0.0
3      5     COLUMBUS AV        60.0      448    199    206  263.471      0.0
4      6        W 104 ST        30.0      130     55     57  488.000      0.0
..   ...             ...         ...      ...    ...    ...      ...      ...
547  700         W 62 ST        34.0      744    345    346  402.191      0.0
548  701         W 61 ST        34.0      757    350    351  552.920      0.0
549  702         W 60 ST        50.0      768    356    357  704.249      0.0
550  703    COLUMBUS CIR        34.0      776    364    368  313.079      0.0
551  704             NaN         NaN      777    364    363  106.000      0.0

[552 rows x 8 columns]

In [8]:
df['id_road'] = df['id_road'].astype(np.int64)
df['id_road'].dtype

dtype('int64')

In [9]:
print(df['id_road'])

225     790
226     790
227     787
228     790
229     787
       ...
9894      9
9895      2
9896      9
9897      2
9898      2
Name: id_road, Length: 4532, dtype: int64

In [10]:
for i, row in df.iterrows():
    #print(row)
    #print(row['density'])
    #print(row['id_road'])
    dfroadinfo.loc[dfroadinfo['id_road'] == row['id_road'],'density'] = dfroadinfo.loc[dfroadinfo['id_road'] == row['id_road'],'density'] + row['density']
    #rs.loc[row['id_road'],0] = rs.loc[row['id_road'],0] + row['density']
    #print(row['id'])

In [11]:
dfroadinfo.describe()

,fid,streetwidt,id_road,node1,node2,length,density
count,552.000000,546.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,360.878623,44.655678,395.664855,180.800725,179.351449,447.306034,10495.940471
std,206.434923,14.989982,227.662425,104.682582,104.485672,322.982385,12478.173438
min,1.000000,0.000000,2.000000,1.000000,1.000000,37.783000,0.000000
25%,188.750000,30.000000,198.500000,90.750000,88.500000,263.260000,1257.480000
50%,364.000000,40.000000,390.500000,179.500000,177.500000,287.125500,6895.244433
75%,538.250000,60.000000,590.500000,267.250000,266.000000,523.504250,14965.850984
max,704.000000,80.000000,791.000000,370.000000,370.000000,5448.210000,137202.345043

In [12]:
dfroadinfo['weighteddensity'] = dfroadinfo['density']/dfroadinfo['length']

In [13]:
dfroadinfo.describe()

,fid,streetwidt,id_road,node1,node2,length,density,weighteddensity
count,552.000000,546.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,360.878623,44.655678,395.664855,180.800725,179.351449,447.306034,10495.940471,22.837730
std,206.434923,14.989982,227.662425,104.682582,104.485672,322.982385,12478.173438,20.583595
min,1.000000,0.000000,2.000000,1.000000,1.000000,37.783000,0.000000,0.000000
25%,188.750000,30.000000,198.500000,90.750000,88.500000,263.260000,1257.480000,3.869098
50%,364.000000,40.000000,390.500000,179.500000,177.500000,287.125500,6895.244433,20.130164
75%,538.250000,60.000000,590.500000,267.250000,266.000000,523.504250,14965.850984,35.346145
max,704.000000,80.000000,791.000000,370.000000,370.000000,5448.210000,137202.345043,151.892810

In [14]:
dfroadinfo

,fid,stname_lab,streetwidt,id_road,node1,node2,length,density,weighteddensity
0,1,CENTRAL PARK W,62.0,465,214,207,264.124,4.253667,0.016105
1,3,W 93 ST,30.0,295,132,131,534.172,18765.800055,35.130632
2,4,COLUMBUS AV,60.0,677,309,314,259.889,6704.580782,25.797863
3,5,COLUMBUS AV,60.0,448,199,206,263.471,902.602055,3.425812
4,6,W 104 ST,30.0,130,55,57,488.000,14942.858465,30.620612
...,...,...,...,...,...,...,...,...,...
547,700,W 62 ST,34.0,744,345,346,402.191,20237.288406,50.317606
548,701,W 61 ST,34.0,757,350,351,552.920,26652.426358,48.203043
549,702,W 60 ST,50.0,768,356,357,704.249,41233.273463,58.549282
550,703,COLUMBUS CIR,34.0,776,364,368,313.079,14032.425721,44.820718
551,704,NaN,NaN,777,364,363,106.000,2192.160750,20.680762

In [15]:
dfroadinfo.to_csv(r'D:\pothole\Wdens202003.csv')